<ul>
  <li class='menu'>{{link-to 'Show cars' 'cars'}}</li>
  <li class='menu'>{{link-to 'Register buyers' 'people.register'}}</li>
  <li class='menu'>{{link-to 'List buyers' 'people.list'}}</li>
</ul>

{{outlet}}
